@{
    var sidebar = new List<SideItem>();

    @* ============================= SET SIDEBAR MENU ==================================== *@
    
    sidebar.Add(new SideItem(){
        Can = "", 
        Icon = "bi bi-pie-chart-fill", Name = "Home DashBoard", 
        Link = Url.Action("Index","Home"), Target = "",
        Class = "", Onclick = "", 
        Align = "Left", Badge = new BadgeStyle(){ },
        SubMenu = new List<SideItem>(){
        }
    });
    sidebar.Add(new SideItem(){
        Can = "", 
        Icon = "bi bi-filetype-docx", Name = "Documents", 
        Link = "#", Target = "",
        Class = "", Onclick = "", 
        Align = "Left", Badge = new BadgeStyle(){ },
        SubMenu = new List<SideItem>(){
            new SideItem() {
                Can = "", 
                Icon = "bi bi-card-text", Name = "Overview", 
                Link = Url.Action("Index","Doc"), Target = "",
                Class = "", Onclick = "", 
                Align = "Left", Badge = new BadgeStyle(){ color="danger", text="100" },
            },
            new SideItem() {
                Can = "", 
                Icon = "bi bi-card-text", Name = "Form", 
                Link = Url.Action("Form","Doc"), Target = "",
                Class = "", Onclick = "", 
                Align = "Left", Badge = new BadgeStyle(){ color="danger", text="" },
            },
        }
    });
    sidebar.Add(new SideItem(){
        Can = "", 
        Icon = "bi bi-sliders", Name = "Settings", 
        Link = "#", Target = "",
        Class = "", Onclick = "", 
        Align = "Left", Badge = new BadgeStyle(){ },
        SubMenu = new List<SideItem>(){
            new SideItem() {
                Can = "", 
                Icon = "bi bi-people-fill", Name = "User", 
                Link = Url.Action("Index","User"), Target = "",
                Class = "", Onclick = "", 
                Align = "Left", Badge = new BadgeStyle(){ color="warning", text="20" },
            },
        }
    });

    @* ============================= SET SIDEBAR MENU ==================================== *@
}



<!-- Main Sidebar Container -->
<aside id="main-sidebar" class="main-sidebar sidebar-light elevation-4">
    <!-- Brand Logo -->
    <div class="d-flex brand-link py-2 align-items-center active">
        <a href="@Url.Action("Index","Home")" class="py-1">
            <img src="@ViewBag.IconApp" alt="All Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
        </a>
        <b class="ml-1">
            <a class="app-name" href="@Url.Action("Index","Home")">MasterApp</a>
        </b>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@ViewBag.IconApp" class="user-image img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#user-info-detail" role="button" aria-expanded="false"
                    aria-controls="user-info-detail" class="d-block">ผู้ดูแลระบบสูงสุด</a>
            </div>
            <div class="collapse" id="user-info-detail">
                <div class="text-center px-2">
                    <a href="#" class="btn btn-outline-info btn-sm" title="ดูข้อมูล">
                        <i class="bi bi-info-circle"></i> </a>
                    <button class="btn btn-outline-warning btn-sm" onclick="$('#modal-resetpassword').modal('show')"
                        type="button" title="เปลี่ยนรหัสผ่าน">
                        <i class="bi bi-key"></i> </button>
                    <button class="btn btn-outline-secondary btn-sm" onclick="$('#form-logout').submit();" type="button"
                        title="ออกจากระบบ"> <i class="bi bi-box-arrow-right"></i> </button>
                </div>
            </div>
        </div>

        <!-- SidebarSearch Form -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            @* nav-flat nav-legacy *@
            <ul class="nav nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                @foreach (var item in sidebar)
                {
                    item.Icon =  string.IsNullOrEmpty(item.Icon) ? "bi bi-circle" : item.Icon;
                    @if(item.Header != null){
                        <li class="header">@item.Header</li>
                    }else{                        
                        <li class="nav-item" can="@item.Can" >
                        <a href="@item.Link" class="nav-link @item.Class @item.Active @(item.SubMenu.Count > 0 ? "nav-parent" : "")" @Html.Raw(item.Target != null ? "target='"+item.Target+"'" : "") @Html.Raw(item.Target != null ? "target=\""+item.Target+"\"" : "")>
                            <i class="nav-icon @item.Icon"></i>
                            <p class="text-nowarp">
                                <span>@item.Name</span>
                                @if(item.Badge?.text != null){
                                    <span class="badge badge-@item.Badge.color right">@item.Badge.text</span>
                                }else{
                                    <span></span>
                                }
                                @if(item.SubMenu.Count > 0){
                                    <i class="bi bi-chevron-left right"></i>
                                }
                            </p>
                        </a>
                        @if(item.SubMenu.Count > 0){
                            <ul class="nav nav-treeview" data-animationSpeed="100">
                                @foreach(var subitem in item.SubMenu){
                                    <li class="nav-item" can="@subitem.Can">
                                        <a href="@subitem.Link" @Html.Raw(subitem.Target != null ? "target='"+subitem.Target+"'" : "") @Html.Raw(subitem.Target != null ? "target=\""+subitem.Target+"\"" : "") class="nav-link @subitem.Class @subitem.Active">
                                            <i class="nav-icon sub-icon @(subitem.Icon != "" ? subitem.Icon : item.Icon)"></i>
                                            <p class="text-nowarp">
                                                <span>@subitem.Name</span>
                                                @if (subitem.Badge?.text != null){
                                                <span></span>
                                                <span class="badge badge-@subitem.Badge.color right">@subitem.Badge.text</span>
                                                }
                                            </p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                    }
                }                
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<style>
    .user-panel img {
        background: #fff;
    }
</style>
<!-- Main Sidebar Container -->